<br>
<div id="{{user.id}}" class="panel panel-default">
  <div class="panel-heading">

    <div class="row">

      <div class="col-sm-1">
        <img src="{{user.avatar_url}}" alt="{{user.login}}'s avatar" class="img-circle">
      </div>

      <div class="h4 col-sm-3">
        <a href="https://github.com/{{user.login}}" target="_blank">{{user.login}}</a>
        |
        <a href="#" onclick="app.updateUserName('{{user.login}}')"><span class="small glyphicon glyphicon-link"></span></a>
      </div>

    </div>

  </div>

  {{#if feeds}}
    <div class="panel-body">

      <div class="table-responsive">

        <table class="table table-bordered table-condensed">

          <tr>
            <th>Timestamp</th>
            <th>Activity</th>
            <th>Repository</th>
            <th>Branch</th>
            <th>Organization</th>
            <th class="text-center">Commits</th>
          </tr>

          {{#each feeds}}
            <tr>

              <td>{{formattedDateTime created_at}}</td>

              <td><span class="badge">{{eventTrimmed type}}</span></td>

              <td><a href="https://github.com/{{repo.name}}" target="_blank">{{onlyRepo repo.name}}</a></td>

              <td>{{#if payload.ref}}
                <a href="https://github.com/{{repo.name}}/tree/{{onlyBranch payload.ref}}"
                   target="_blank">{{onlyBranch payload.ref}}</a>
              {{/if}}</td>

              <td>{{#if org.login}}
                <a href="https://github.com/{{org.login}}" target="_blank">{{org.login}}</a>
              {{/if}}</td>

              <td>{{#each payload.commits}}
                <a href="https://github.com/{{../repo.name}}/commit/{{sha}}" target="_blank">{{message}}</a>
                <br>
              {{/each}}</td>

            </tr>
          {{/each}}

        </table>

      </div>
    </div>
  {{/if}}

  {{#unless feeds}}
    <div class="h3 text-center">No recent activity.</div>
  {{/unless}}

</div>